@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Red Hat Display", 黑體;
  letter-spacing: 0.75px;
}

body, html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  background-color: #c1272d;
}

.BG {
  position: absolute;
  width: 370px;
  left: 51%;
  transform: translateX(-50%);
  padding-top: 20px;
}
@media screen and (max-width: 935px) {
  .BG {
    left: 56%;
    transform: translateX(-50%);
  }
}
.BG .bt img {
  position: absolute;
  width: 90%;
}
.BG .up img {
  position: absolute;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: opacity 40s infinite linear;
          animation: opacity 40s infinite linear;
}

.mask {
  width: 165px;
  height: 100vh;
  position: fixed;
  left: 30px;
  top: 270px;
  overflow: hidden;
  -webkit-perspective: 300px;
}

.photo {
  width: 160px;
  background-color: #fff;
  border: solid 1px black;
  padding: 25px 20px 25px 20px;
  position: absolute;
  left: 0px;
  top: -2500px;
  -webkit-animation: print 40s infinite linear;
          animation: print 40s infinite linear;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: rotateY(-2deg);
}
.photo img {
  width: 100%;
  margin-top: 25px;
}

@-webkit-keyframes print {
  0% {
    top: -2420px;
  }
  99% {
    top: 0px;
  }
  100% {
    top: 100vh;
  }
}

@keyframes print {
  0% {
    top: -2420px;
  }
  99% {
    top: 0px;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0%;
  }
  3.1% {
    opacity: 0%;
  }
  3.101% {
    opacity: 100%;
  }
  98.5% {
    opacity: 100%;
  }
  98.5001% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  3.1% {
    opacity: 0%;
  }
  3.101% {
    opacity: 100%;
  }
  98.5% {
    opacity: 100%;
  }
  98.5001% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
a {
  color: #75ef00;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.1s;
}
a:hover {
  color: #f2f2f2;
}

#switch:checked ~ #links {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
}
#switch:checked ~ #links .links {
  padding: 40px 70px;
  text-align: center;
  display: block;
}
#switch:checked ~ #links .links .li {
  padding-top: 20px;
}
#switch:checked ~ #links .links .plus {
  height: 0;
  display: none;
  margin-bottom: 0px;
}
#switch:checked ~ #links .links .Rlinks {
  text-align: center;
}
#switch:checked ~ #links .links .ltli {
  margin-bottom: 0px;
}
#switch:checked ~ #links .links .rtli {
  margin-bottom: 0;
  margin-top: 15px;
}
#switch:checked ~ #links .links .lbli, #switch:checked ~ #links .links .rbli {
  margin-top: 15px;
}
#switch:checked ~ #links .links .rect {
  display: none;
}

#switch:checked ~ .footer {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#switch:checked ~ .footer p {
  margin-top: 20px;
}
#switch:checked ~ .footer .Rtext {
  display: flex;
  flex-direction: column;
}
#switch:checked ~ .footer .Rtext a {
  margin-left: 0;
  margin-top: 7px;
}

@media screen and (max-width: 935px) {
  #links {
    display: none;
  }
}
#links .links {
  padding: 135px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  white-space: nowrap;
  position: relative;
  padding-top: 180px;
  list-style: none;
}
#links .Llinks {
  display: flex;
  flex-direction: column;
}
#links .Llinks .ltli {
  margin-bottom: 28vh;
}
#links .Llinks .lbli {
  position: relative;
  transition-duration: 0.1s;
}
#links .Llinks .rect {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 96px;
  background-color: #f2f2f2;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
#links .Rlinks {
  display: flex;
  flex-direction: column;
  text-align: right;
}
#links .Rlinks .rtli {
  margin-bottom: 28vh;
}

ul.plus {
  transition: opacity 0.2s ease-in-out;
  padding-top: 7px;
  list-style: none;
  padding-left: 0;
  display: flex;
}
@media screen and (max-width: 1180px) {
  ul.plus {
    display: flex;
    flex-direction: column;
  }
  ul.plus .li1 {
    margin-right: 9px;
  }
  ul.plus .li2 {
    margin-right: 35px;
  }
}
@media screen and (max-width: 935px) {
  ul.plus .li1 {
    margin-right: 0px;
  }
  ul.plus .li2 {
    margin-right: 0px;
  }
}
ul.plus .plustop {
  display: none;
}
@media screen and (max-width: 935px) {
  ul.plus .plustop {
    flex-direction: column;
  }
  ul.plus .plustop li {
    padding-top: 5px;
  }
}
ul.plus .plusbottom {
  display: none;
}
@media screen and (max-width: 935px) {
  ul.plus .plusbottom {
    flex-direction: column;
    margin-bottom: 10px;
  }
  ul.plus .plusbottom li {
    padding-top: 5px;
  }
}
ul.plus a {
  color: #f2f2f2;
  font-size: 14px;
  margin-right: 10px;
  font-weight: 500;
}
ul.plus a:hover {
  color: #d3d3d3;
}

input#shopall {
  display: none;
}

label#all {
  cursor: pointer;
  color: #75ef00;
  transform: scaleX(1.2) scaleY(1.2);
  padding-left: 15px;
  display: none;
}
@media screen and (max-width: 935px) {
  label#all {
    display: inline-block;
  }
}

input#switch {
  display: none;
}

label#menuIcon {
  cursor: pointer;
  height: 30px;
}
label#menuIcon img {
  width: 35px;
  position: absolute;
  top: 10px;
  right: 15px;
  display: none;
  z-index: 999;
}
@media screen and (max-width: 935px) {
  label#menuIcon img {
    display: block;
  }
}

.footer {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: 40px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 135px;
  white-space: nowrap;
}
@media screen and (max-width: 935px) {
  .footer {
    display: none;
  }
}
.footer p {
  margin-bottom: 0;
  color: #f2f2f2;
}
.footer .Rtext {
  display: flex;
}
.footer .Rtext a {
  margin-left: 40px;
  color: #f2f2f2;
}
.footer .Rtext a:hover {
  color: #d3d3d3;
}